<div class="container">
		<a name="main-content"></a>
    <div class="jumbotron jumbotron" style='background-image: url("/img/latis.jpg");  background-repeat: no-repeat; background-attachment: fixed;'>
      <div class="container">
        <h1 class="display-3 text-white">LATIS Software Development</h1>
        <p class='text-white'>Enhancing Learning, Advancing Research, Improving Process</p>
      </div>
    </div>
    {% include navigation.html %}
</div>

<div class="container">
    <h1 class="display-1">{{ page.title }}</h1>
    <h2 class="bg-dark text-warning p-3">{{ page.subtitle }}</h2>
    {{ content }}
</div>
