<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-nav">
    <a class="navbar-brand" href="/work_with_latis">Home</a>
    {% for item in site.pages %}
      {% if item.title and item.title != "Home" %}
        {% assign active = nil %}
        {% if page.title == item.title %}
          {% assign active = 'active' %}
        {% endif %}

        <a class="nav-item nav-link {{active}}" href="/work_with_latis{{item.url}}">{{item.title}}</a>
      {% endif %}
    {% endfor %}
  </div>
</nav>
